<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_TodoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9046/TodoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_TodoService" contract="TodoService.TodoService"
                name="BasicHttpBinding_TodoService" />
        </client>
    </system.serviceModel>
</configuration>